{% extends "challenge/base.html" %}

{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}


<div class="row">

    <div class="col-md-3">
        <div class="content-section">
            <h5>Table Of Contant</h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:intro' %}">
                        intro
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:io' %}">
                        io
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:variables' %}">
                        variables
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:if_statements' %}">
                        if_statements
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:loops' %}">
                        loops
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:functions' %}">
                        Functions
                    </a>
                </li>
            </ul>
            </p>
        </div>
    </div>

    <div class="col-md-8">
        <h2>functions</h2>
        <p>
            In Python, a function is a group of related statements that performs a specific task.

            Functions help break our program into smaller and modular chunks. As our program grows larger and larger,
            functions make
            it more organized and manageable.

            Furthermore, it avoids repetition and makes the code reusable.
        <pre><code>
# function which takes in a list and return sum of the list

def sum(list):
    sum = 0

    for i in list:
        sum += i

    return sum

x = [23, 45, 23, 67, 25, 69, 13]

print(sum(x))
        </pre></code>

        </p>
    </div>

</div>
{% endblock %}