{% extends "challenge/base.html" %}

{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}


<div class="row">

    <div class="col-md-3">
        <div class="content-section">
            <h3>Table Of Contant</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:intro' %}">
                        intro
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:io' %}">
                        io
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:variables' %}">
                        variables
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:if_statements' %}">
                        if_statements
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:loops' %}">
                        loops
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:functions' %}">
                        Functions
                    </a>
                </li>
            </ul>
            </p>
        </div>
    </div>

    <div class="col-md-8">
        <p>I/O</p>
    </div>

</div>
{% endblock %}