{% extends "challenge/base.html" %}

{% load static %}

{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/theme/monokai.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/python/python.min.js"></script>
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}

<div class="row">

    <div class="col-md-3">
        <div class="content-section">
            <h5>Table Of Contant</h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:intro' %}">
                        intro
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:io' %}">
                        io
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:variables' %}">
                        variables
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:if_statements' %}">
                        if_statements
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:loops' %}">
                        loops
                    </a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'tutorial:functions' %}">
                        Functions
                    </a>
                </li>
            </ul>
            </p>
        </div>
    </div>

    <div class="col-md-8">
        <h2>Variables And Operations</h2>
        <p><br>
            Python offers a wide range of variable types for storing.<br><br>
            <textarea id="code1">
integer = 3 # int
number = 3.3 # float
string = "Hello World!" # str
complex_num = 4j + 2 # complex number
truth = True # boolean
</textarea><br><br>

            Python also offers data structures.<br><br>
            <textarea id="code2">
collection = [1, 2, 3, "hello", 3.3] # list
Immutable = (1, 2, 3, "hello", 3.3) # tuple
dictionary = {"hello": "world", "program": "python"} # dictionary
</textarea><br><br>
            Operations on numbers<br><br>
            <textarea id="code3">
x = 27
y = 4
            
print(x + y) # Addition
print(x - y) # subtraction
print(x * y) # multiplication
print(x / y) # division
print(x % y) # reminder / modulus
print(x // y) # division integer
print(x ** y) # exponent
</textarea><br><br>

            Note: You can concatenate strings by<br><br>
            <textarea id="code4">
first_name = "Donald"
last_name = "Trump"
print(first_name + last_name)
</textarea>

        </p>
    </div>

</div>

<script type="text/javascript">
    var editor = new CodeMirror.fromTextArea(document.getElementById('code1'), {
        value: document.getElementById('code1').value,
        lineNumbers: true,
        mode: "python",
        theme: "monokai",
        lineWrapping: true,
        readOnly: true,
    });

    var editor = new CodeMirror.fromTextArea(document.getElementById('code2'), {
        value: document.getElementById('code2').value,
        lineNumbers: true,
        mode: "python",
        theme: "monokai",
        lineWrapping: true,
        readOnly: true,
    });

    var editor = new CodeMirror.fromTextArea(document.getElementById('code3'), {
        value: document.getElementById('code3').value,
        lineNumbers: true,
        mode: "python",
        theme: "monokai",
        lineWrapping: true,
        readOnly: true,
    });

    var editor = new CodeMirror.fromTextArea(document.getElementById('code4'), {
        value: document.getElementById('code4').value,
        lineNumbers: true,
        mode: "python",
        theme: "monokai",
        lineWrapping: true,
        readOnly: true,
    });
</script>

{% endblock %}