{% extends "challenge/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-primary" role="alert" id="error">
    {{message}}
</div>
{% endfor %}
{% endif %}


<div class="alert alert-primary" role="alert" id="error">
    Status: Answering
</div>


<div class="container">
    {{ question.question }}
    <form method="post">
        <div class="container">{% csrf_token %}
            {{ form|crispy }}
            <button type="button" class="btn btn-outline-primary" id="form_button">Test</button>
        </div>
    </form>
    <br>
    <a href="{% url 'challenge:results' question.pk %}" class="btn btn-outline-primary"> Answers</a>
</div>

<script type="text/javascript">

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    var button = document.getElementById('form_button')
    var error_ele = document.getElementById('error')
    var url_test = "http://localhost:8000/test-answer/{{ question.id }}"
    var url_submit = "http://localhost:8000/answer/{{ question.id }}"

    function text_change() {
        button.innerHTML = "Test"
        error_ele.innerHTML = "Status: Answering"
        error_ele.style.backgroundColor = "lightblue"
    }

    button.addEventListener("click", function () {
        var solution = document.getElementById('solution').value

        if (button.innerHTML === "Test") {

            // start
            fetch(url_test, {
                method: "post",
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ solution: solution })
            })
                .then(response => response.json())
                .then(function (data) {
                    if (data["result"] == "passed") {
                        button.innerText = "Submit"
                        error_ele.innerHTML = "Tests: Passed"
                        error_ele.style.backgroundColor = "lightblue"
                    } else {

                        error_ele.innerHTML = "Error: " + data["error"]
                        error_ele.style.backgroundColor = "red"
                        button.innerText = "Test"
                    }
                });
            // end

        } else {
            button.type = "submit"
            button.click()
        }

    })

    var solution = document.getElementById('form_button')
</script>
{% endblock %}