{% extends "challenge/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/theme/monokai.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/python/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/addon/edit/closebrackets.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/addon/edit/matchbrackets.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/addon/selection/active-line.min.js"></script>
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-primary" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}


<div class="alert alert-primary" role="alert" id="error">
    Status: Answering
</div>


<div class="container">
    <h2>{{ question.title}}</h2>
    <p>
        {{ question.question }}
    </p>
    <form method="post">
        <div class="container">{% csrf_token %}
            {{ form|crispy }}
            <button type="button" class="btn btn-outline-primary" id="form_button">Test</button>
        </div>
    </form>
    <br>
    <a href="{% url 'challenge:results' question.pk %}" class="btn btn-outline-primary"> Answers</a>
</div>

<script type="text/javascript">

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    var editor = new CodeMirror.fromTextArea(document.getElementById('solution'), {
        value: "def function(...):\n    # code goes here", // not working
        lineNumbers: true,
        mode: "python",
        theme: "monokai",
        indentUnit: 4,
        indentWithTabs: false,
        lineWrapping: true,
        matchBrackets: true,
        autoCloseBrackets: true,
        styleActiveLine: true,
    });


    editor.on("keydown", function () {
        button.innerHTML = "Test"
        error_ele.innerHTML = "Status: Answering"
        error_ele.style.backgroundColor = "lightblue"
    })

    var button = document.getElementById('form_button')
    var error_ele = document.getElementById('error')
    var url_test = "http://127.0.0.1:8000/test-answer/{{ question.id }}"
    var url_submit = "http://127.0.0.1:8000/answer/{{ question.id }}"

    button.addEventListener("click", function () {
        var solution = editor.getValue()

        if (button.innerHTML === "Test") {

            // start
            fetch(url_test, {
                method: "post",
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ solution: solution })
            })
                .then(response => response.json())
                .then(function (data) {
                    if (data["result"] == "passed") {
                        button.innerText = "Submit"
                        error_ele.innerHTML = "Tests: Passed"
                        error_ele.style.backgroundColor = "lightblue"
                    } else {

                        error_ele.innerHTML = "Error: " + data["error"]
                        error_ele.style.backgroundColor = "red"
                        button.innerText = "Test"
                    }
                });
            // end

        } else {
            editor.save()
            button.type = "submit"
            button.click()
        }

    })

    var solution = document.getElementById('form_button')
</script>
{% endblock %}