{% extends "challenge/base.html" %}

{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}


<div class="container">
    <p>
        Welcome to Geek Coder. In this web application you can learn what is and how to use it.
        <br>
        You can also check out Coding questions and puzzles to improve your skills in programming.
        Your answers will be evaluate based on memory usage, time consumed during execution and characters used.
        You can also check out others answers if you are stuck or are not able to solve.
        <br>
        If you have a programming question or puzzle of your own you can submit your question.
        And others can try to answer them.
        <br><br>
        Important Details:
        <br>
    <ul>
        <li>
            Any answer you submit will be sent to server for execution and evaluation. And there is limit of 15
            seconds and 75 MegaBytes of memory for running your submitted code in the server.
        </li>
        <li>
            Use of following will raise an error (even within inverted comma): "exec", "eval", "import", "from".
            This is to ensure that no harmful code gets executed in the server computer.
        </li>
        <li>
            All the answer submission should start with function declaration called function.
        </li>
        <li>
            All test cases should be written using assert statement inside test_case function. (Only applicable if
            posting a question).
        </li>
    </ul>
    </p>
</div>
{% endblock %}